.denunciaItem {
    background-color: white;
    border: 1px solid var(--main-color);
    
    width: 400px;
    border-radius: 10px;
    transition: .2s;

    padding: 20px;
    min-height: 40vh;

    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.11);
}

.denunciaItem:hover {
    transform: scale(1.02);
    transition: .2s;
}

.description {
    border: 1px solid rgba(51, 51, 51, 0.397);
    padding: 5px 10px;
    height: 200px;
    border-radius: 10px;

    overflow-wrap: break-word;
    overflow-y: scroll;

}

.denunciaTipo {
    border: 1px solid rgba(51, 51, 51, 0.397);
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 0 5px;
    
    text-align: center;
    color: white;
}