.githubBtn {
    background-color: var(--main-color);
    color: white;
    padding: 5px;
    width: 500px;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}