.home{
  padding: 10px 20px;
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.404)), url(/images/heroBackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 50vw;
}
.homeHeroContent {
  text-align: center;
}
.homeHeroContent h1 {
  font-size: 35pt;
}