.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: white;
    color: var(--main-color);
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.123);
}
.navbar nav{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar ul{
    display: flex;
    gap: 20px;

    list-style: none;
    font-weight: 700;
}

.sectionItens li{
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
}
.navbar li{
    filter: opacity(.8);
}
.navbar li:hover {
    filter: opacity(1);
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}